@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  background-color: #e0e0e0;
  -webkit-font-smoothing: antialiased;
  font: normal 14px 'Open Sans',arial,sans-serif;
  padding-bottom: 60px; }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background-color: #000000;
  opacity: 0.95;
  z-index: 10000; }
  .footer .container {
    margin: 18px 0;
    width: 100%; }
  .footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .footer a {
    display: block;
    padding-left: 10px;
    padding-right: 10px; }
  .footer li {
    display: inline;
    float: left;
    text-align: center; }

.navbar-default {
  background-color: #f4f4f4;
  margin-top: 50px;
  border-width: 0;
  z-index: 5; }
  .navbar-default .dropdown-menu {
    background-color: #ffffff;
    margin-left: 30px; }
    .navbar-default .dropdown-menu li a {
      padding-left: 20px; }

.well, .panel {
  border-color: #d2d2d2;
  box-shadow: 0 1px 0 #cfcfcf;
  border-radius: 3px; }

.form-control {
  border-color: #d7d7d7; }

hr {
  border-color: #ececec; }

button {
  outline: 0; }

textarea {
  resize: none;
  outline: 0; }

.panel .btn i, .btn span {
  color: #666666; }

.panel {
  max-width: 100%; }
  .panel .panel-heading {
    background-color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    color: #262626;
    border-color: #ffffff; }
  .panel .panel-default {
    border-color: #cccccc;
    max-width: 100%; }
  .panel .panel-thumbnail {
    padding: 0; }
  .panel .img-circle {
    width: 50px;
    height: 50px; }

.item-heading {
  padding-bottom: 20px; }

.item-title {
  border: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 10px;
  font-size: 20px; }

.list-group-item:first-child, .list-group-item:last-child {
  border-radius: 0; }

h3, h4, h5 {
  border: 0 solid #efefef;
  border-bottom-width: 1px;
  padding-bottom: 10px; }

.modal-dialog {
  width: 450px; }

.modal-footer {
  border-width: 0; }

.dropdown-menu {
  background-color: #f4f4f4;
  border-color: #f0f0f0;
  border-radius: 0;
  margin-top: -1px; }

/* Template Layout */
#subnav {
  position: fixed;
  width: 100%; }

@media (max-width: 768px) {
  #subnav {
    padding-top: 6px; } }
#main {
  padding-top: 65px; }

/* App preloader */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader {
  display: none; }

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0; }

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_3.gif") center no-repeat #fff; }

.row-item {
  display: none; }

/*# sourceMappingURL=frontend.css.map */
